extends layout

block content
  h1= title
  p Welcome to #{title}


  label
    input(type="text" value="" id="cliente") 
    | Cliente
  button(onclick="search()") Search
    
    
  table(id="mytable" hidden)
    thead
      th cliente
      th device
      th severity
      th objectClass
    tbody